.calendar-container {
  position: absolute;
  height: 96%;
  width: calc(100% - 90px);
  top: 0;
  left: 90px;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .calendar-container {
    width: 100%;
    left: 0;
    right: 0;
  }
}
